body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
    background: rgb(0, 0, 0) url(./assets/floorBackground.jpg) fixed center;
    background-size: cover;
    
}
h1 {
    color: rgb(0, 0, 0);
}

a {
    color: rgb(109, 17, 121);
}

a:hover {
    color: rgb(212, 72, 255);
}
/* Header */
header{
    background: rgb(255, 255, 255) center 0px;
    border: 5px solid rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    margin: 0;

}
.Logo{
    height: 200px;
    margin: 0 auto;
    display: block
}
/*Nav Bars*/
nav {
    text-align: center;
    font-size: 1.5em;

    
}
nav li {
    display: inline-block;

}
nav li a, nav li a:visited {
    text-decoration: none;
}
.menu li a {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
nav li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.social{
    height: 25px;
    width: 25px;
}

.socialMedia li{
    padding: 0 25px 5px 25px;
    display: inline-block;
    
}
.socialMedia {
    text-align: center;
}
.social:hover {
    position:relative;
    width:50px;
    height:50px;
    display:block; 
}
/*Main Section*/
.buyButton {
    background-color: black;
    color: white;
    border-radius: 5%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
    
}
.buyButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buyButton:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

}
.buyButton:hover span {
    padding-right: 25px;
    padding-left: 25px;
}
.buyButton:hover span:after {
    opacity: 1;
    right: 0;
}
.panel{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    width: 400px;
    height: 350px;
    border: 5px solid black;
    border-radius: 5%;
    text-align: center;
    
        
}

.contentWrapper{
    margin: 0 auto;
    max-width: 1170;
    padding: 5px;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}

#potatoContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 30%;
    border-radius: 5%;
    }

#potatoContainer {
    position: relative;
    width: 100%;
    max-width: 200px;
    
    }
    
#cleanerContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 35%;
    border-radius: 5%;
    }
    
#cleanerContainer {
    position: relative;
    width: 100%;
    max-width: 200px;
    }

#cupContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 75% 100%;
    border-radius: 5%;
    }
    
#cupContainer {
    position: relative;
    width: 100%;
    max-width: 200px;
    }


.aboutDesk img {
    height: 200px;
    width: 200px;
 
    border-radius: 15% 15% 15% 15%;
    border: 5px solid rgb(255, 255, 255);
    
    

}
.aboutDesk {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 20px;
    justify-content: space-evenly;
    border-top: 5px solid rgb(255, 255, 255);
    

    
}
.aboutDesk p {
    color: rgb(255, 255, 255);
    float: right;
    width: 50%;

}
.aboutHeader {
    color: white;
    text-align: center;
}

  
    
    
    


/*Footer*/
footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    list-style: none;
    padding: 0;
    border-top: 5px solid black;
    border-bottom: 5px solid black;

}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}    

footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}